{% extends "base.html" %}

{% block content %}
<section class="fetch-section">
    <h1>External Content Fetcher</h1>
    <p>Enter the URL to your song or album art below to add it to your EchoCloud profile</p>
	<form method="GET" action="/fetch">
        <input type="text" name="url" placeholder="Enter URL to fetch" value="{{ url }}" required>
        <button type="submit">Fetch</button>
    </form>

    {% if fetched_content %}
    <div class="fetched-content">
        <h2>Fetched Content:</h2>
        <pre>{{ fetched_content }}</pre>
    </div>
    {% endif %}
</section>
{% endblock %}
